a {
  color: black;
  text-decoration: none;
}

#website {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 19px;
}

#separator {
  height: 40px;
}

button {
  height: 60px;
  width: 220px;
  font-size: 1.30em;
  font-weight: 800;
  border-radius: 20px;
  background: black;
  cursor: pointer;
}

button > a {
  color: white;
}
