/* Removes unnecessary spaces, computes font size, and sets scroll behavior */

html {
  box-sizing: border-box;
  text-align: center;
  font-size: 19px;
}

/* Customizes all links */

a {
  text-decoration: none;
  color: #880808;
}

a:hover {
  color: black;
}

/* Customizes website title and navbar */

header {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Gives sections extra space above and below */

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Shrinks images */

img {
  width: 40%;
  height: 40%;
  object-fit: contain;
}

/* Customizes paragraphs that are not in Contact section*/

 :not(#items) > p {
  margin: auto;
  margin-bottom: 30px;
  width: 900px;
  text-align: justify;
}

/* Customizes buttons */

section > button {
  height: 60px;
  width: 220px;
  font-size: 1.30em;
  font-weight: 800;
  border: 0;
  border-radius: 20px;
  background: #880808;
  cursor: pointer;
}

section > button:hover {
  background: black;
}

section > button > a {
  color: white;
}

section > button > a:hover {
  color: white;
}

/* Adds extra space below Contact section header */

#contact > h3:first-child {
  margin-bottom: 25px;
}

/* Customizes paragraphs in Contact section */

#container {
  width: 900px;
  margin: auto;
  display: flex;
  gap: 15px;
}

#items {
  width: 100%;
  padding: 8px;
  border: 1px solid pink;
  border-radius: 20px;
}

#contact > p {
  margin-top: 10px;
  text-align: center;
}
